﻿#content{
    margin:0 auto;
    width:1000px;
    border: 1px #000 solid;
    background-color:lightsteelblue;
    padding:10px;
    display:flex;
}

#login{
    
}

.auctionItem {
    background-color: honeydew;
    width: 300px;
   
    border: #000 solid 1px;
    
}

.hide{
    display:none;
}

.show {
    display: block;
}


#auctionItems {
    display: flex;
}

.auctionItemList
{
    display: flex;
    flex-direction: column;

    width: 400px;
}